<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#/standings">Standings</a></li>
        <li><a ng-href="#/stats">Statistics</a></li>
    </ul>
    <h3 class="text-muted">Universal Roller Hockey</h3>
</div>
<section>
    <h1>Standings</h1>
    <table class="table table-striped">
        <tr>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Shootout Losses</th>
            <th>Points</th>
        </tr>
        <tr ng-repeat="team in allStats.teams | orderBy: '-points'">
            <td><a href="#/stats?team={{team.id}}">{{team.name}}</a></td>
            <td>{{team.wins}}</td>
            <td>{{team.losses}}</td>
            <td>{{team.sol}}</td>
            <td>{{team.points}}</td>
        </tr>
    </table>

    <section class="footer">Unofficial standings as of 4/13/15</section>
</section>