<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#/standings">Standings</a></li>
        <li class="active"><a ng-href="#/stats">Statistics</a></li>
    </ul>
    <h3 class="text-muted">Universal Roller Hockey</h3>
</div>

<section>
    <h1>Player Statistics</h1>
    <label>Choose League:</label>
    <select class="form-control" ng-model="league">
        <option value="A">A</option>
        <option value="B">B</option>
    </select>

    <section ng-if="league === 'A'">
        <label>Choose Team: </label>
        <select class="form-control" ng-model="team" ng-options="teamer.name for teamer in aLeagueStats.teams"></select>
    </section>

    <section ng-if="league === 'B'" >
        <label>Choose Team: </label>
        <select class="form-control" ng-model="team" ng-options="teamer.name for teamer in bLeagueStats.teams"></select>
    </section>

    <br/>

    <table class="table table-striped" ng-show="team">
        <tr>
            <th><a href ng-click="sortField = 'number'">Number</a></th>
            <th><a href ng-click="sortField = 'name'">Name</a></th>
            <th><a href ng-click="sortField = '-goals'">G</a></th>
            <th><a href ng-click="sortField = '-assists'">A</a></th>
            <th><a href ng-click="sortField = '-points'">P</a></th>
            <th><a href ng-click="sortField = '-pims'">PIM</a></th>
        </tr>
        <tr ng-repeat="player in team.players | orderBy: sortField">
            <td>{{player.number}}</td>
            <td>{{player.name}}</td>
            <td>{{player.goals}}</td>
            <td>{{player.assists}}</td>
            <td>{{player.points}}</td>
            <td>{{player.pims}}</td>
        </tr>
    </table>

    <h4 ng-show="team">Goalies</h4>
    <table class="table table-striped" ng-show="team">
        <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Saves</th>
        <th>Shots Against</th>
        <th>GAA</th>
        <th>Save %</th>
        </tr>
        <tr ng-repeat="goalie in team.players | filter: {position : 'G'}">
            <td>{{goalie.number}}</td>
            <td>{{goalie.name}}</td>
            <td>{{goalie.saves}}</td>
            <td>{{goalie.shots}}</td>
            <td></td>
            <td>{{goalie.saves / goalie.shots}}</td>
        </tr>
    </table>
    <section class="footer">Unofficial stats as of 4/13/15, excluding games played on 3/15/15</section>
</section>